<% include ../head %>
<header id="header" class="">
	<h1>Ntalk</h1>
	<h4>Welcome!</h4>
</header><!-- /header -->

<section>
	<form action="/login" method="POST" accept-charset="utf-8">
		<input type="text" name="user[name]" value="" placeholder="Nome">
		<br>
		<input type="text" name="user[email]" value="" placeholder="E-mail">
		<button type="submit">Done!</button>
	</form>
</section>
<% include ../footer %>

