<% include ../head %>
<header id="header" class="">
	<h1>Ntalk!</h1>
	<h4>Your contact list.</h4>
</header><!-- /header -->
<section>
	<p>Welcome <%- user.name %>!</p>
</section>
<% include ../exit %>
<% include ../footer %>
