<% include head %>
<header>
<h1>Ntalk</h1>
<h4>That boring =/, this page not found!</h4>
</header><!-- /header -->
<hr>
<p>Let's back <a href="/" title="back"> to home page?</a>^^</p>
<% include footer %>
