<% include heade %>
<header>
<h1>Ntalk</h1>
<h4>Some error it's happening!</h4>
</header><!-- /header -->
<p>Look the details from error:</p>
<br>
<%- error.message %>
</p>
<hr>
<p>It's better you back to <a href="/" title="back">home page.</a></p>
<% include footer %>